<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
	<h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
	<ul class="app-navigation__list app-width-container">
		
		<li class="app-navigation__list-item ">
			<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/get-started/">
			Home
			</a>

			
			<button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
				Get started
			</button>

			<ul class="app-navigation__subnav js-app-navigation__subnav " aria-label="Get started" hidden="" id="js-mobile-nav__subnav-0">
				<li class="app-navigation__subnav-item">
				<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/">
					Get started overview
				</a>
				</li>
				
				<li>
					
					<h3 class="app-navigation__theme">Setup guides</h3>
					
					<ul class="app-navigation__list">
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/prototyping/">
							Prototyping
						</a>
						</li>
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/production/">
							Production
						</a>
						</li>
					
					</ul>
				</li>
				
				<li>
					
					<h3 class="app-navigation__theme">How to guides</h3>
					
					<ul class="app-navigation__list">
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/updating-your-code/">
							Replace variables, functions and mixins from our old frameworks
						</a>
						</li>
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/labels-legends-headings/">
							Making labels and legends headings
						</a>
						</li>
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/extending-and-modifying-components/">
							Extending and modifying components in production
						</a>
						</li>
					
						<li class="app-navigation__subnav-item">
						<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/get-started/focus-states/">
							Understanding focus state styles
						</a>
						</li>
					
					</ul>
				</li>
				
			</ul>
			
		</li>
		
		<li class="app-navigation__list-item ">
			<a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/styles/">
			Styles
			</a>

			
			<button hidden="" class="app-navigation__button js-app-navigation__button" id="js-mobile-nav-subnav-toggler-1" aria-expanded="false" aria-controls="js-mobile-nav__subnav-1">
				Styles
			</button>
		</li>
	</ul>
</nav>